@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        color-scheme: dark light;
        interpolate-size: allow-keywords;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
    }
}
